body {
    background-color: black;
    
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
}

.header {
    
    position: absolute;
    top: 50%;      
    left: 20%;    
    transform: translateY(-50%); 
    text-align: left; 
    max-width: 500px; 
    

}

.header h1 {
    color: wheat;
    margin-bottom: 25px; 
    font-size: 48px;      
}

.header p {
    color: rgb(234, 195, 124);
    line-height: 1.7;     
    margin-bottom: 40px;  
    font-size: 18px;      
}

.button {
    display: inline-block;
    background-color: #0952e5;
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button {
    position: absolute;
    top: 50%;
    left: 72%;
}

.button:hover {
    background-color: #8595e7;
}

img {

    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px; 
    height: auto; 
}

.search-container {
    position: absolute;
    top: 84%;
    left: 25%;
}


.search-bar {
    width: 500px;         
    height: 40px;         
    border-radius: 25px;  
    border: none;         
    padding: 0 20px;      
    font-size: 16px; 
     box-shadow: 0 2px 8px rgb(255, 255, 255);
}


.search-icon {
    position absolute;
    left: 97%;
    width: 24px;              
    height: 24px;
}






